// Importar variables
@import 'multiple';

/* Estilos para el main */
main {
  section {
    margin-bottom: 3rem;

    h2 {
      color: $color-accent;
      text-align: center;
      margin-bottom: 1.5rem;
    }

    /* Cards de noticias */
    .card {
      border: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      flex-direction: column;
      margin-bottom: 20px;
      height: 100%;

      &-img-top {
        border-radius: 0.5rem 0.5rem 0 0;
        height: 200px;
        object-fit: cover;
      }

      &-body {
        h5 {
          color: $color-accent;
        }

        p {
          color: rgb(0, 0, 0);
        }

        .btn, .btn-outline-primary {
          background-color: $color-primary;
          color: $color-text;
          border: none;

          &:hover {
            background-color: lighten($color-primary, 10%);
            color: $color-text;
          }
        }
      }
    }
  }
}