/* Variables */
$primary-color: #9747ff; // Púrpura vibrante
$secondary-color: #2d3192; // Azul profundo
$accent-color: #00b4d8; // Azul cian brillante
$neutral: #1a1b26; // Gris oscuro
$titulos: #45d3b4; // Azul profundo

main {
  color: $accent-color;
  padding: 2rem;

  .reserva-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-size: cover;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }

    h2 {
      color: $titulos;
      font-size: 2rem;
      z-index: 2;
      text-align: center;
      margin-bottom: 1rem;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }
  }
  /* Ajuste para centrar el botón debajo de la tabla */
  .reserva-btn {
    background-color: $primary-color;
    display: block;
    margin: 0 auto;
    width: 80%;
  }

  .container {
    margin-top: 2rem;

    nav {
      .nav-tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 1rem 0;
        border-radius: 10px;

        li {
          display: inline-block;
          margin: 0;
        }

        a {
          text-decoration: none;
          color: $titulos;
          padding: 0.75rem 1.5rem;
          border-radius: 5px;
          font-weight: bold;
          text-transform: uppercase;
          transition: background-color 0.3s ease, color 0.3s ease;

          &.active {
            background-color: $primary-color;
            color: $neutral;
          }

          &:hover {
            background-color: $secondary-color;
            color: $accent-color;
          }
        }
      }
    }

    .tab-content {
      margin-top: 1.5rem;
      .tab-pane {
        h3 {
          color: $titulos;
          font-size: 1.25rem;
          margin-bottom: 1rem;
        }
        .row {
          align-items: center;

          img {
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          }

          .table {
            margin-top: 1rem;
            background-color: $neutral;
            color: $accent-color;
            border: 1px solid $secondary-color;
            th,
            td {
              padding: 0.75rem;
              text-align: center;
            }
            th {
              background-color: $primary-color;
              color: $titulos;
            }
            tr:nth-child(even) {
              background-color: lighten($neutral, 5%);
            }
          }
        }
      }
    }
  }
}