<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tarifas</title>
  <!-- Rutas locales CSS de Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/scss/multiple.css" />
  <link rel="stylesheet" href="/scss/tarifas.css">
</head>

<body class="gradient-bg text-white">
  <header>
    <!-- Navbar estilos de bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a href="/index.html">
          <img src="/images/GamePower.png" alt="Logo GamePower" class="navbar-logo" aria-label="GamePower Logo">
        </a>
        <a class="navbar-brand" href="/index.html">GamePower</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="tarifas.html">Tarifas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="eventos.html">Eventos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="noticias.html">Noticias</a>
            </li>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Servicios
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="Servicios/reparaciones.html">Reparaciones</a></li>
                <li><a class="dropdown-item" href="Servicios/socios.html">Socios</a></li>
                <li>
                  <a class="dropdown-item" href="Servicios/montajes.html">Montajes Personalizados</a>
                </li>
              </ul>
            </div>
          </ul>
          <form class="d-flex ms-3">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" />
            <button class="btn btn-outline-light" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="reserva-container">
      <h2>Reservas</h2>
      <a class="btn btn-primary reserva-btn" href="reservas.html" role="button">Reservas</a>
    </div>
    <div class="container mt-4">
      <!-- Tabs -->
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-pc-tab" data-bs-toggle="tab" data-bs-target="#nav-pc" type="button"
            role="tab" aria-controls="nav-pc" aria-selected="true">PC</button>
          <button class="nav-link" id="nav-consolas-tab" data-bs-toggle="tab" data-bs-target="#nav-consolas"
            type="button" role="tab" aria-controls="nav-consolas" aria-selected="false">Consolas</button>
          <button class="nav-link" id="nav-streaming-tab" data-bs-toggle="tab" data-bs-target="#nav-streaming"
            type="button" role="tab" aria-controls="nav-streaming" aria-selected="false">Streaming</button>
          <button class="nav-link" id="nav-vip-tab" data-bs-toggle="tab" data-bs-target="#nav-vip" type="button"
            role="tab" aria-controls="nav-vip" aria-selected="false">V.I.P</button>
        </div>
      </nav>

      <!-- Tabs Content -->
      <div class="tab-content mt-3" id="nav-tabContent">
        <!-- PC Section -->
        <div class="tab-pane fade show active" id="nav-pc" role="tabpanel" aria-labelledby="nav-pc-tab">
          <h3>PC Sala Principal:</h3>
          <div class="row align-items-center">
            <div class="col-md-6">
              <img src="/images/SalaPrincipal.jpg" alt="Sala principal de PC con computadoras en funcionamiento y monitores." class="img-fluid rounded shadow">
            </div>
            <div class="col-md-6">
              <table class="table table-bordered table-light table-striped text-dark mt-3">
                <thead>
                  <tr>
                    <th>Horas</th>
                    <th>Precio</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>€5</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>€9</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Consolas Section -->
        <div class="tab-pane fade" id="nav-consolas" role="tabpanel" aria-labelledby="nav-consolas-tab">
          <h3>Consolas:</h3>
          <div class="row align-items-center">
            <div class="col-md-6">
              <img src="/images/SalaConsolas.jpg" alt="Consolas" class="img-fluid rounded shadow">
            </div>
            <div class="col-md-6">
              <table class="table table-bordered table-light table-striped text-dark mt-3">
                <thead>
                  <tr>
                    <th>Horas</th>
                    <th>Precio</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>€4</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>€7</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Streaming Section -->
        <div class="tab-pane fade" id="nav-streaming" role="tabpanel" aria-labelledby="nav-streaming-tab">
          <h3>Streaming:</h3>
          <div class="row align-items-center">
            <div class="col-md-6">
              <img src="/images/Foto3Carousel.jpg" alt="Sala de Streaming" class="img-fluid rounded shadow">
            </div>
            <div class="col-md-6">
              <table class="table table-bordered table-light table-striped text-dark mt-3">
                <thead>
                  <tr>
                    <th>Horas</th>
                    <th>Precio</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>€6</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>€10</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- V.I.P Section -->
        <div class="tab-pane fade" id="nav-vip" role="tabpanel" aria-labelledby="nav-vip-tab">
          <h3>V.I.P Sala:</h3>
          <div class="row align-items-center">
            <div class="col-md-6">
              <img src="/images/SalaVIP.jpg" alt="Sala V.I.P" class="img-fluid rounded shadow">
            </div>
            <div class="col-md-6">
              <table class="table table-bordered table-light table-striped text-dark mt-3">
                <thead>
                  <tr>
                    <th>Horas</th>
                    <th>Precio</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>€10</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>€15</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div> <!-- Fin del contenido de las pestañas -->
    </div>
  </main>
  <footer class="footer py-3 bg-dark text-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2024 GamePower. Todos los derechos reservados.</p>
        </div>
        <div class="col-md-6 text-md-end">
          <a href="#" class="text-light text-decoration-none">Términos y Condiciones</a>
        </div>
      </div>
    </div>
  </footer>

  <!-- JS de Bootstrap y jQuery -->
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>
